{% if view == "base" %}
	<form action="#" class="{{prefix}}panel  {{mod}}  azbn7__api__form" data-form-validation>
		<input data-form-name type="hidden" name="f[Форма]" value="{{heading}}">
		<div class="{{prefix}}inner  {{mod}}" {% if bg %} style="background-image: url({{bg}})"{% endif %}>
			<div class="{{prefix}}container container  {{mod}}">
				<div class="{{prefix}}grid  grid__row  {{mod}}">
					<div>					
						{% include "../page-header/elem.twig" with {
							prefix:"page-header__", 
							mod:heading_mod,
							attr:heading_attr, 
							level:heading_level, 
							heading:heading
						} %}			
						{% include "../page-header/elem.twig" with {
							prefix:"page-header__", 
							mod:note_mod,
							attr:note_attr, 
							level:note_level, 
							heading:note
						} %}		
						{% include "../page-header/elem.twig" with {
							prefix:"page-header__", 
							mod:agreement_mod,
							attr:agreement_attr, 
							level:agreement_level, 
							heading:agreement
						} %}
					</div>	
					<div>	
						<div class="{{prefix}}grid  grid__row  {{mod}}-inner">	
							{% include "elem.twig" with {
								view: "input", 
								prefix:'form__', 
								mod:'', 
								color:'', 
								list: [									
									{
										"form_id":ID, 
										"id":"name", 
										"name":"Ваше имя", 
										"type":"text", 
										"validate": "validate[required, custom[onlyLetterSp]]",
										"label":"Ваше имя",
									},
									{
										"form_id":ID, 
										"id":"tel", 
										"name":"Телефон", 
										"type":"tel", 
										"validate": "validate[required, custom[phone]]",
										"label":"Телефон",
									},
									{
										"form_id":ID, 
										"id":"E-mail", 
										"name":"email", 
										"type":"email", 
										"validate": "validate[required, custom[email]]",
										"label":"E-mail",
									}
							]} %}
						</div>
						{% include "../button/btn.twig" with {
							view:"btn", 
							type:"submit", 
							prefix:"btn__", 
							mod:'', 
							name:'Записаться' 
						} %}
					</div>
				</div>
			</div>
		</div>
	</form>
{% endif %}
{% if view == "modal" %}
	<form action="#" class="{{prefix}}panel  {{mod}}  azbn7__api__form" data-form-validation>	
		<input data-form-name type="hidden" name="f[Форма]" value="{{heading}}">		
		<div class="{{prefix}}grid  grid__row  {{mod}}">	
			{% include "elem.twig" with {
				view: "input", 
				prefix:'form__', 
				mod:'', 
				color:'', 
				list: [
					{
						"form_id":ID, 
						"id":"name", 
						"name":"Ваше имя", 
						"type":"text", 
						"validate": "validate[required, custom[onlyLetterSp]]",
						"label":"Ваше имя",
					},
					{
						"form_id":ID, 
						"id":"tel", 
						"name":"Телефон", 
						"type":"tel", 
						"validate": "validate[required, custom[phone]]",
						"label":"Телефон",
					},
					{
						"form_id":ID, 
						"id":"E-mail", 
						"name":"email", 
						"type":"email", 
						"validate": "validate[required, custom[email]]",
						"label":"E-mail",
					}
			]} %}
		</div>
		{% include "../button/btn.twig" with {
			view:"btn", 
			type:"submit", 
			prefix:"btn__", 
			mod:'', 
			name:'Отправить' 
		} %}
	</form>
{% endif %}
{% if view == "modal_note" %}
	<form action="#" class="{{prefix}}panel  {{mod}}  azbn7__api__form" data-form-validation>	
		<input data-form-name type="hidden" name="f[Форма]" value="{{heading}}">		
		<div class="{{prefix}}grid  grid__row  {{mod}}">	
			{% include "elem.twig" with {
				view: "input", 
				prefix:'form__', 
				mod:'', 
				color:'', 
				list: [
					{
						"form_id":ID, 
						"id":"name", 
						"name":"Ваше имя", 
						"type":"text", 
						"validate": "validate[required, custom[onlyLetterSp]]",
						"label":"Ваше имя",
					},
					{
						"form_id":ID, 
						"id":"tel", 
						"name":"Телефон", 
						"type":"tel", 
						"validate": "validate[required, custom[phone]]",
						"label":"Телефон",
					},
					{
						"form_id":ID, 
						"id":"E-mail", 
						"name":"email", 
						"type":"email", 
						"validate": "validate[required, custom[email]]",
						"label":"E-mail",
					}
			]} %}
			{% include "elem.twig" with {
				view: "textarea", 
				prefix:'form__', 
				mod:'', 
				color:'',
				form_id:ID, 
				id:"note", 
				name:"Вопрос", 
				validate: "validate[required]",
				label:"Ваш вопрос",					
			} %}
		</div>
		{% include "../button/btn.twig" with {
			view:"btn", 
			type:"submit", 
			prefix:"btn__", 
			mod:'', 
			name:'Отправить' 
		} %}
	</form>
{% endif %}