{% for d in list %}
<a href="{{d.link}}" {{d.attr}} class="{{prefix}}card  {{mod}}">	
	<div class="{{prefix}}icon">
		{% include "../svg-sprite/svg.twig" with {icon:"icon-docs"} %}
	</div>
	<div class="{{prefix}}group"> 
		<p class="{{prefix}}name">{{d.name}}</p>
		{% if d.note %}
		<p class="{{prefix}}note">{{d.note}}</p>
		{% endif %}
	</div> 
</a>
{% endfor %}