{% if view == "team" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<div class="{{prefix}}row  grid__row  {{mod}}">
			<div>
				<picture class="{{prefix}}preview  {{mod}}"><img src="{{value.img}}" class="img-responsive" alt=""></picture>
			</div>
			<div>
				<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
				{% if value.position %}
				<p class="{{prefix}}position  {{mod}}">{{value.position}}</p>
				{% endif %}
				{% if value.note %}
					<div class="{{prefix}}note  text__block  {{mod}}">{{value.note}}</div>
				{% endif %}
				{% if value.tabs %}
				<div class="{{prefix}}tabs  {{mod}}">
					{% include "../tabs/tpl.twig" with {
						view:"base", 
						prefix:'tabs__', 
						mod:"",
						list: value.tabs
					} %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
{% endif %}
{% if view == "services" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}"><img src="{{value.img}}" class="img-responsive" alt=""></picture>
		<p class="{{prefix}}num  {{mod}}">{{value.num}}</p>
		<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
		{% include "../button/btn.twig" with {
			view:"link",
			prefix:"btn__",
			attr:'',
			mod:'',  
			link:value.link,
			name:"Подробнее"
		} %}	
	</div>
	{% endfor %}
{% endif %}
{% if view == "step" %}
	{% for value in list %}	
	<li class="{{prefix}}item  {{mod}}">
		<p class="{{prefix}}num  {{mod}}">{{value.num}}</p>
		<p class="{{prefix}}line  {{mod}}"></p>
		<div>			
			<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
			<p class="{{prefix}}note  {{mod}}">{{value.note}}</p>
		</div>
	</li>
	{% endfor %}
{% endif %}
{% if view == "faq" %}
	<div class="{{prefix}}group  panel-group  {{mod}}" id="{{card_id}}">
		{% for v in list %}
			<div>
			{% for value in v.list %}
				<div class="{{prefix}}item  panel  {{mod}}">
					<a class="{{prefix}}heading  {{mod}}" data-toggle="collapse" data-parent="#{{card_id}}" href="#{{card_id}}{{value.id}}" aria-expanded="false">{{value.name}}</a>
					<div id="{{card_id}}{{value.id}}" class="collapse">
						<div class="{{prefix}}note  text__block  {{mod}}">{{value.note}}</div>
					</div>
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	</div>		
{% endif %}