<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<button type="button" class="{{prefix}}btn-close  {{mod}}" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"icon-close"} %}
			</button>
			{# <div class="{{prefix}}content  {{mod}}"> #}
				{% if ID == "modal-form" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../form/form.twig" with {
						view: 			form_view, 
						prefix:			"form__",
						mod:			"is--modal", 
						color:			"", 
						ID: 			form_id,
						heading:		heading, 
						heading_level:	heading_level, 
						heading_mod:	heading_mod,
						agreement:		agreement, 
						agreement_level:	agreement_level, 
						agreement_mod:	agreement_mod,
					} %}
				{% endif %}
				{% if ID == "modal-form-note" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../form/form.twig" with {
						view: 			form_view, 
						prefix:			"form__",
						mod:			"is--modal", 
						color:			"", 
						ID: 			form_id,
						heading:		heading, 
						heading_level:	heading_level, 
						heading_mod:	heading_mod,
						agreement:		agreement, 
						agreement_level:	agreement_level, 
						agreement_mod:	agreement_mod,
					} %}
				{% endif %}
				{% if ID == "modal-message" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:note_mod,
						attr:note_attr, 
						level:note_level, 
						heading:note
					} %}
				{% endif %}
			{# </div>  #}
		</div>
	</div>
</div>