<header class="{{prefix}}block  {{mod}}" >
	<div class="{{prefix}}header">
		<div class="{{prefix}}header-container container">
			<div class="{{prefix}}header-row row">
				<div class="{{prefix}}header-cols cols  is--logotip">
					<a href="{{link}}#{{block.header}}" class="{{prefix}}header-logotip">
						<span>My</span> Invest
					</a>
				</div>
				<div class="{{prefix}}header-cols cols  is--hamburger">
					<button class="{{prefix}}header-hamburger" data-hamburger data-scrollto-humb>
						<span class="{{prefix}}header-hamburger-line  is--left"></span>
						<span class="{{prefix}}header-hamburger-line  is--center"></span>
						<span class="{{prefix}}header-hamburger-line  is--right"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="{{prefix}}aside" data-scrollto-navbar>
		<div class="{{prefix}}aside-inner">
			<div class="{{prefix}}aside-container container">
				<div class="{{prefix}}aside-row row">
					<div class="{{prefix}}aside-cols cols  is--logotip">
						<a href="{{link}}#{{block.header}}" class="{{prefix}}header-logotip">
							<span>My</span> Invest
						</a>
					</div>
					<div class="{{prefix}}aside-cols cols  is--nav">
						<nav class="{{prefix}}aside-nav">
							{% for n in nav %}
							<li class="{{prefix}}aside-nav-item">
								<a href="{{link}}#{{n.link}}" {{n.attr}} class="{{prefix}}aside-nav-link" {% if n.diff %}data-scrollto-diff="{{n.diff}}"{% endif %}>{{n.name}}</a>
							</li>
							{% endfor %}
						</nav> 	
					</div>
					<div class="{{prefix}}aside-cols cols  is--email">
						<a href="mailto:{{contacts.email}}" class="{{prefix}}aside-email">{{contacts.email}}</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</header>